{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "camelcase": 0,
    "babel/camelcase": [
      "error",
      {
        "properties": "always",
        "ignoreDestructuring": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "webpack/config.js",
          "src/utils/test-setup.js",
          "src/**/*.test.js"
        ]
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/react-in-jsx-scope": "off"
  }
}
